.logo {
  width: 117px;
  height: 74px;
  object-fit: cover;
  margin-left: 45px;
}

.anchor {
  font-weight: bold;
  text-decoration: none;
}

.right {
  background: #ff7315;
}

.image-right {
  width: 450px;
  height: 450px;
  object-fit: cover;
}
