.navbar-dibooking {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.locations {
  width: 100%;
  background-color: #2f2e41;
  color: #ffffff;
}

.locations p,
.locations #basic-nav-dropdown {
  font-size: 12px;
}
